.background {
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.noticias {
    background-color: #fff;
    border: 1px;
    color: #333;
    font-size: 13px;
}

.noticias:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.autor {
    color: #999;
}

.time {
    color: #333;
    font-size: 13px;
}
