<body class="background">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body text-left">
                        <h2>HN Feed</h2>
                        <h5> We hacker news! </h5>
                        <table class="table table-striped mt-6 ">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col col-4">Noticia</th>
                                    <th scope="col col-4">Fecha</th>
                                    <th scope="col col-4">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let noticia of listNoticias ">
                                    <td *ngIf="noticia.story_title !=null" class="noticias"><a href={{noticia.story_url}} target="_blank">{{noticia.story_title}}</a></td>
                                    <td *ngIf="noticia.story_title !=null" class="text-center">{{noticia.created_at}}</td>
                                    <td *ngIf="noticia.story_title !=null" class="text-center noticias"> <i (click)="eliminarNoticia(noticia._id)" class="fas fa-trash"></i></td>
                                    <td *ngIf="noticia.story_title ==null && noticia.created_at!= null" class="noticias"><a href={{noticia.story_url}} target="_blank">Title</a></td>
                                    <td *ngIf="noticia.story_title ==null && noticia.created_at!= null" class="text-center">{{noticia.created_at}}</td>
                                    <td *ngIf="noticia.story_title ==null && noticia.created_at!= null" class="text-center noticias"> <i (click)="eliminarNoticia(noticia._id)" class="fas fa-trash"></i></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>